<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
	<head>
		<title>Admin-Dashboard</title>
	</head>
	
	<body>
		<h1>Admin Dashboard</h1>
		<a th:href="@{/admin/addDoctor}">Add Doctor</a>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Specialization</th>
				<th>Action</th>
			</tr>
			<tr th:each="doc : ${doctors}">
				<td th:text="${doc.id}"></td>
				<td th:text="${doc.name}"></td>
				<td th:text="${doc.dept}"></td>
				<td>
					<a th:href="@{'/admin/deleteDoctor/' + ${doc.id}}">Delete</a>
				</td>
			</tr>
		</table>
	</body>
</html>