<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>view-today-appointments</title>
	</head>
	<body>
		<h3>Today Appointments</h3>
		
		<div th:each="app : ${appointments}" class="appointment-item">
			<div class="appointment-header">
				<span class="patient-name" th:text="${app.patient.name}"></span>
				<span class="appointment-time" th:text="${app.appointmentTime}"></span>
			</div>
			
			<div class="patient-detals">
				<span th:text=" 'Age: '+ ${app.patient.age}"></span>
				<span th:text=" 'Gender: '+ ${app.patient.gender}"></span>
			</div>
			<div class="appointment-actions">
				<form th:action="@{appointment/update}" method="post">
					<input type="hidden" name="id" th:value="${app.id}"/>
					<input type="hidden" name="status" th:value="COMPLETED"/>
					<button type="submit">Mark as Completed</button>
				</form>
				
				<form th:action="@{appointment.update}" method="post">
					<input type="hidden" name="id" th:value="${app.id}"/>
					<input type="hidden" name="status" th:value="MISSED"/>
					<button type="submit">Mark as MISSED</button>
				</form>
			</div>
		</div>
	</body>
</html>